<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BorrowRegis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Sql" connectionString="server=MAT-WPC0015\WAFER;uid=sa;pwd=Zyfzyf123;database=BorrowDB"/>
  </connectionStrings>
  <userSettings>
    <BorrowRegis.Properties.Settings>
      <setting name="loginAccount" serializeAs="String">
        <value />
      </setting>
      <setting name="permission" serializeAs="String">
        <value>False</value>
      </setting>
    </BorrowRegis.Properties.Settings>
  </userSettings>
</configuration>